
        * {
            box-sizing: border-box;
            }
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
    
            [class*="col-"] {
            float: left;
            }
    
            .col-1 
                {width: 8.33%;}
            .col-2 
                {width: 16.66%;}
            .col-3 
                {width: 25%;}
            .col-4 
                {width: 33.33%;}
            .col-5 
                {width: 41.66%;}
            .col-6 
                {width: 50%;}
            .col-7 
                {width: 58.33%;}
            .col-8 
                {width: 66.66%;}
            .col-9 
                {width: 75%;}
            .col-10 
                {width: 83.33%;}
            .col-11 
                {width: 91.66%;}
            .col-12 
                {width: 100%;}
    
    
                form{
                    background-color:  rgb(255, 255, 255);
                    align-items:center;
                    margin: auto;
                    max-width: 50%;
                }
    
                input[type=text],
                input[type=email],
                input[type=password],
                input[type=tel]
                 {
                padding: 10px;
                padding-top: 10px;
                width: 100%;
                height: 2.5em;
                color: gray;
                border: 0.15px solid rgb(90, 97, 100);
                background-color: rgba(255, 255, 255);
                font-size: 18px;
            }
    
            .container {
                justify-self: stretch;
                font-size: 15px;
                font-family: sans-serif
            }
            .btn {
                background: rgb(2, 0, 36);
                background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(24, 144, 240, 0.9305555555555556) 0%, rgba(108, 23, 130, 0.8240740740740741) 60%);
                display: block;
                color: white;
                width: 100%;
                border: none;
                border-radius: 12px;
                padding: 14px 28px;
                font-size: 18px;
                cursor: pointer;
                text-align: center;
            }
            .btn:hover{
                opacity:0.9;
            }
            
            
        